@import "../../mixins";

.home {
  min-height: 100vh;
  display: flex;
}

.home__container {

  width: 50%;
  margin: 5rem auto;

  @include respond(tab-land) {
    width: 70%;
  }
  @include respond(tab-port) {
    width: 80%;
  }
  @include respond(phone) {
    width: 90%;
  }
}
