
    .container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.5rem;
        box-shadow: 2px 21px 25px rgb(0 0 0 / 10%);
        width: 100%;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        margin-bottom: 1rem;
    }
    .error  {
        color : red;
        width : 8rem;
        font-size : 0.85rem
    }
